Repository woowacourse-teams/2025-moment, pull requests merged in 2025-09, with the labels that each got.

#613 [FEAT] 메타데이터 추가
  client/public/index.html
Labels: feat, FE

#619 [FEAT] 이미지 업로드 URL 생성 기능 구현
  server/build.gradle
  server/src/main/java/moment/global/config/S3Config.java
  server/src/main/java/moment/storage/application/FileStorageService.java
  server/src/main/java/moment/storage/dto/request/UploadUrlRequest.java
  server/src/main/java/moment/storage/dto/response/UploadUrlResponse.java
  server/src/main/java/moment/storage/infrastructure/AwsS3Client.java
  server/src/main/java/moment/storage/presentation/FileStorageController.java
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
  server/src/test/resources/application-test.yml
Labels: feat, BE

#622 [CHORE] s3Presigner 생성 설정 변경
  server/src/main/java/moment/global/config/S3Config.java
Labels: chore, BE

#623 [CHORE] s3 의존성 SpringbootStarter 변경
  server/build.gradle
  server/src/main/java/moment/global/config/S3Config.java
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
  server/src/test/resources/application-test.yml
Labels: chore, BE

#625 [CHORE] 백엔드 코드래빗 도입
  .coderabbit.yaml
  docs/be-code-convention.md
  server/.coderabbit.yaml
Labels: chore, BE

#640 [FEAT] 모멘트 작성 페이지 태그 기능 추가
  client/src/app/styles/theme.ts
  client/src/features/moment/api/sendExtraMoments.ts
  client/src/features/moment/api/sendMoments.ts
  client/src/features/moment/hook/useSendExtraMoments.ts
  client/src/features/moment/hook/useSendMoments.ts
  client/src/features/moment/types/moments.ts
  client/src/features/moment/ui/Tag.tsx
  client/src/features/moment/ui/TagList.tsx
  client/src/features/moment/ui/TodayContent.styles.ts
  client/src/features/moment/ui/TodayMomentForm.tsx
  client/src/pages/todayMoment/TodayMomentExtraPage.tsx
  client/src/pages/todayMoment/index.tsx
Labels: feat, FE

#647 [FEAT] 오늘의 코멘트 필터 기능 추가
  client/src/features/comment/api/useCommentableMomentsQuery.ts
  client/src/features/comment/ui/TodayCommentForm.tsx
  client/src/features/moment/const/tags.ts
  client/src/features/moment/ui/TodayMomentForm.tsx
  client/src/pages/todayComment/index.tsx
  client/src/shared/ui/tag/Tag.stories.tsx
  client/src/shared/ui/tag/Tag.tsx
  client/src/shared/ui/tag/TagList.tsx
Labels: feat, FE

#645 [FEAT] 알림을 확인하지 않은 나의 모멘트/코멘트 조회 API 구현
  server/src/main/java/moment/comment/application/CommentQueryService.java
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/comment/application/DefaultCommentQueryService.java
  server/src/main/java/moment/comment/domain/Comment.java
  server/src/main/java/moment/comment/dto/response/MomentDetailResponse.java
  server/src/main/java/moment/comment/dto/response/MyCommentPageResponse.java
  server/src/main/java/moment/comment/dto/response/MyCommentResponse.java
  server/src/main/java/moment/comment/dto/response/MyCommentsResponse.java
  server/src/main/java/moment/comment/infrastructure/CommentRepository.java
  server/src/main/java/moment/comment/presentation/CommentController.java
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/global/page/Cursor.java
  server/src/main/java/moment/global/page/Cursorable.java
  server/src/main/java/moment/global/page/PageSize.java
  server/src/main/java/moment/moment/application/DefaultMomentTagQueryService.java
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/main/java/moment/moment/application/MomentTagQueryService.java
  server/src/main/java/moment/moment/application/MomentTagService.java
  server/src/main/java/moment/moment/application/TagService.java
  server/src/main/java/moment/moment/domain/Moment.java
  server/src/main/java/moment/moment/dto/response/MyMomentPageResponse.java
  server/src/main/java/moment/moment/dto/response/MyMomentsResponse.java
  server/src/main/java/moment/moment/dto/response/TagNamesResponse.java
  server/src/main/java/moment/moment/infrastructure/MomentRepository.java
  server/src/main/java/moment/moment/presentation/MomentController.java
  server/src/main/java/moment/notification/application/DefaultNotificationQueryService.java
  server/src/main/java/moment/notification/application/NotificationQueryService.java
  server/src/main/java/moment/notification/infrastructure/NotificationRepository.java
  server/src/main/java/moment/reply/application/DefaultEchoQueryService.java
  server/src/main/java/moment/reply/application/EchoQueryService.java
  server/src/main/java/moment/reply/application/EchoService.java
  server/src/test/java/moment/comment/application/CommentServiceTest.java
  server/src/test/java/moment/comment/infrastructure/CommentRepositoryTest.java
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
  server/src/test/java/moment/moment/application/MomentServiceTest.java
  server/src/test/java/moment/moment/infrastructure/MomentRepositoryTest.java
  server/src/test/java/moment/moment/presentation/MomentControllerTest.java
  server/src/test/java/moment/notification/infrastructure/NotificationRepositoryTest.java
  server/src/test/java/moment/reply/application/DefaultEchoQueryServiceTest.java
  server/src/test/java/moment/reply/application/EchoServiceTest.java
Labels: feat, BE

#651 [FIX] 이미지 테이블 외래키 제약조건 수정
  server/src/main/resources/db/migration/mysql/V14__alter_images__mysql.sql
  server/src/test/resources/db/migration/h2/V14__alter_images__h2.sql
Labels: fix, BE

#654 [REFACTOR] moment 등록 시 tagName 유효성 검사 로직 추가 & 리마인드 메일 전송 시간 수정
  server/src/main/java/moment/comment/dto/response/MyCommentsResponse.java
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/moment/dto/request/MomentCreateRequest.java
  server/src/main/java/moment/moment/dto/response/MyMomentsResponse.java
  server/src/main/java/moment/notification/application/EmailNotificationService.java
  server/src/test/java/moment/moment/presentation/MomentControllerTest.java
Labels: refactor, BE

#646 [FEAT] 이메일 템플릿 UI 구현
  client/.prettierignore
  client/server-template.html
  client/src/features/report/preview-email.js
Labels: feat, FE

#705 [REFACTOR] 누락된 deleted_at 컬럼 추가
  server/src/main/java/moment/comment/domain/CommentImage.java
  server/src/main/java/moment/matching/domain/Matching.java
  server/src/main/java/moment/moment/domain/MomentImage.java
  server/src/main/java/moment/report/domain/Report.java
  server/src/main/java/moment/user/application/DefaultUserQueryService.java
  server/src/main/java/moment/user/application/UserQueryService.java
  server/src/main/java/moment/user/infrastructure/UserRepository.java
  server/src/main/resources/db/migration/mysql/V17__alter_reports_column__mysql.sql
  server/src/main/resources/db/migration/mysql/V17__drop_matchings__mysql.sql
  server/src/test/resources/db/migration/h2/V17__drop_matchings__h2.sql
Labels: refactor, BE

#706 refactor: 불필요한 플라이웨이 버전 파일 제거
  server/src/main/resources/db/migration/mysql/V17__alter_reports_column__mysql.sql
  server/src/main/resources/db/migration/mysql/V17__drop_matchings__mysql.sql
  server/src/test/resources/db/migration/h2/V16__create_reports__h2.sql
  server/src/test/resources/db/migration/h2/V17__drop_matchings__h2.sql
Labels: refactor, BE

#721 [FIX] p6spy 로그 수집 경로 수정
  server/src/main/resources/logback-dev.xml
Labels: fix, BE

#711 [FEAT] 이미지 보기 & 오늘의 코멘트, 나의 모음집 UI 개선, Footer 추가
  client/src/app/layout/ui/Footer.styles.ts
  client/src/app/layout/ui/Footer.tsx
  client/src/app/layout/ui/Layout.tsx
  client/src/features/comment/ui/MyCommentsCard.styles.ts
  client/src/features/comment/ui/MyCommentsCard.tsx
  client/src/features/comment/ui/TodayCommentForm.styles.ts
  client/src/features/comment/ui/TodayCommentForm.tsx
  client/src/features/moment/ui/MyMomentsCard.styles.ts
  client/src/features/moment/ui/MyMomentsCard.tsx
  client/src/features/moment/ui/TodayMomentForm.tsx
  client/src/shared/hooks/useShowFullImage.ts
Labels: refactor, FE

#718 [FIX] 너무 최적화된 이미지 수정
  client/public/images/character.webp
Labels: fix, FE

#719 [REFACTOR] 로그인 유도 메시지 표현 개선
  client/src/app/routes/ProtectedRoute.tsx
  client/src/app/styles/theme.ts
  client/src/features/comment/ui/TodayCommentWriteContent.tsx
  client/src/features/moment/ui/TodayMomentForm.tsx
  client/src/shared/hooks/useToast.ts
  client/src/shared/types/toast.ts
  client/src/shared/ui/toast/Toast.styles.ts
  client/src/shared/ui/toast/Toast.tsx
Labels: refactor, FE

#720 [REFACTOR] 토큰 관련 리팩토링 진행
  server/build.gradle
  server/src/main/java/moment/auth/application/AuthService.java
  server/src/main/java/moment/auth/application/GoogleAuthService.java
  server/src/main/java/moment/auth/application/TokensIssuer.java
  server/src/main/java/moment/auth/domain/Tokens.java
  server/src/main/java/moment/auth/presentation/AuthController.java
  server/src/test/java/moment/auth/application/AuthServiceTest.java
  server/src/test/java/moment/auth/application/GoogleAuthServiceTest.java
  server/src/test/java/moment/auth/application/TokensIssuerTest.java
  server/src/test/java/moment/auth/presentation/AuthControllerTest.java
Labels: refactor, BE

#729 [REFACTOR] comments 인덱스 수정
  server/src/main/resources/db/migration/mysql/V20__create_comments__mysql.sql
  server/src/test/resources/db/migration/h2/V20__create_comments__h2.sql
Labels: refactor, BE

#662 [FEAT] 신고 기능 구현
  client/src/features/comment/ui/TodayCommentForm.styles.ts
  client/src/features/comment/ui/TodayCommentForm.tsx
  client/src/features/complaint/api/useComplaintMutation.ts
  client/src/features/complaint/data/complaintReasons.ts
  client/src/features/complaint/hooks/useSendComplaint.ts
  client/src/features/complaint/types/complaintType.ts
  client/src/features/complaint/ui/ComplaintModal.styles.ts
  client/src/features/complaint/ui/ComplaintModal.tsx
  client/src/features/complaint/ui/ComplaintReasonSelector.styles.ts
  client/src/features/complaint/ui/ComplaintReasonSelector.tsx
  client/src/features/moment/ui/MyMomentsCard.styles.ts
  client/src/features/moment/ui/MyMomentsCard.tsx
Labels: feat, FE

#744 [FEAT] Sentry 개발/운영서버 환경 명시적 설정
  client/instrument.js
Labels: feat, FE

#747 [CHORE] 인덱스 추가
  server/src/main/resources/db/migration/mysql/V20__create_comments_index__mysql.sql
  server/src/test/resources/db/migration/h2/V20__create_comments_index__h2.sql
Labels: chore, BE

#755 [FIX] 나의 코멘트 페이지 페이지네이션 버그 수정
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/comment/domain/Comment.java
  server/src/main/java/moment/comment/dto/response/MyCommentResponse.java
  server/src/main/java/moment/comment/dto/response/MyCommentsResponse.java
  server/src/main/java/moment/comment/infrastructure/CommentRepository.java
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
Labels: fix, BE

#761 [FIX] 오늘의 코멘트 오류 해결
  client/src/app/layout/ui/StarField.tsx
  client/src/features/comment/ui/TodayCommentForm.tsx
Labels: fix, FE

#762 [RELEASE] Merge into main branch from develop
  client/src/app/App.tsx
  client/src/app/layout/ui/StarField.styles.ts
  client/src/app/layout/ui/StarField.tsx
  client/src/app/lib/api.ts
  client/src/app/lib/queryClient.ts
  client/src/app/providers/AuthProvider.tsx
  client/src/app/routes/ProtectedRoute.tsx
  client/src/features/auth/api/useCheckIfLoggedInQuery.ts
  client/src/features/auth/api/useProfileQuery.ts
  client/src/features/comment/types/comments.ts
  client/src/features/comment/ui/MyCommentsCard.styles.ts
  client/src/features/comment/ui/MyCommentsCard.tsx
  client/src/features/comment/ui/TodayCommentForm.tsx
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/comment/domain/Comment.java
  server/src/main/java/moment/comment/dto/response/MyCommentResponse.java
  server/src/main/java/moment/comment/dto/response/MyCommentsResponse.java
  server/src/main/java/moment/comment/infrastructure/CommentRepository.java
  server/src/main/java/moment/notification/application/NotificationFacade.java
  server/src/main/java/moment/notification/application/NotificationService.java
  server/src/main/java/moment/notification/application/SseNotificationService.java
  server/src/main/java/moment/notification/domain/Emitters.java
  server/src/main/java/moment/reply/application/EchoService.java
  server/src/main/resources/db/migration/mysql/V21__create_moments_index__mysql.sql
  server/src/test/java/moment/comment/application/CommentServiceTest.java
  server/src/test/java/moment/comment/infrastructure/CommentRepositoryTest.java
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
  server/src/test/java/moment/notification/application/NotificationFacadeTest.java
  server/src/test/java/moment/notification/application/NotificationServiceTest.java
  server/src/test/java/moment/notification/application/SseNotificationServiceTest.java
  server/src/test/java/moment/notification/domain/EmittersTest.java
  server/src/test/java/moment/notification/presentation/NotificationControllerTest.java
  server/src/test/java/moment/reply/application/EchoServiceTest.java
  server/src/test/resources/db/migration/h2/V21__create_moments_index__h2.sql
Labels: Release

#774 [REFACTOR] 로깅 개선
  server/build.gradle
  server/src/main/java/moment/global/logging/ApiLogFilter.java
  server/src/main/java/moment/global/logging/ControllerLogAspect.java
  server/src/main/java/moment/global/logging/RepositoryLogAspect.java
  server/src/main/java/moment/global/logging/ServiceLogAspect.java
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
  server/src/main/resources/logback-dev.xml
  server/src/main/resources/logback-prod.xml
  server/src/main/resources/logback-spring.xml
  server/src/test/resources/application-test.yml
  server/src/test/resources/logback-test.xml
Labels: chore, refactor, BE

#776 [REFACTOR] 로깅 개선
  server/src/main/java/moment/global/exception/GlobalExceptionHandler.java
  server/src/main/resources/logback-spring.xml
Labels: chore, refactor, BE

#779 [REFACTOR] 로그 출력 개선
  server/src/main/resources/logback-spring.xml
Labels: chore, BE

#780 [REFACTOR] 로그 포맷 최종 개선
  server/src/main/java/moment/global/logging/ApiLogFilter.java
  server/src/main/resources/logback-spring.xml
Labels: chore, BE
