Repository woowacourse-teams/2025-moment, pull requests merged in 2025-07, with the labels that each got.

#5 [CHORE] server 초기 세팅
  server/Dockerfile
  server/build.gradle
  server/docker-compose.yml
  server/gradle/wrapper/gradle-wrapper.jar
  server/gradle/wrapper/gradle-wrapper.properties
  server/gradlew
  server/gradlew.bat
  server/settings.gradle
  server/src/main/java/moment/MomentApplication.java
  server/src/main/resources/application.yml
  server/src/test/java/moment/MomentApplicationTests.java
Labels: chore

#7 [CHORE] Package Manager 마이그레이션
  client/package.json
  client/pnpm-lock.yaml
  client/yarn.lock
Labels: config

#9 [BUILD] Server github action CD 파일 추가
  .github/workflows/prod-client-cd.yml
  .github/workflows/prod-server-cd.yml
Labels: build

#14 [CHORE] Babel 초기세팅 및 적용
  client/babel.config.js
  client/package.json
  client/pnpm-lock.yaml
  client/webpack.common.js
  client/webpack.dev.js
  client/webpack.prod.js
  server/.gitkeep
Labels: config

#20 [FEAT] 공통 레이아웃 및 라우터 적용
  client/babel.config.js
  client/package.json
  client/pnpm-lock.yaml
  client/public/index.html
  client/src/App.tsx
  client/src/constants/colors.ts
  client/src/constants/routes.ts
  client/src/index.tsx
  client/src/layout/ui/Layout.styles.ts
  client/src/layout/ui/Layout.tsx
  client/src/pages/home/index.tsx
  client/src/pages/signup/index.tsx
  client/src/routes.tsx
  client/tsconfig.json
  client/webpack.common.js
Labels: feat, FE

#23 [Chore] Dockerfile jdk 버전 변경
  .github/workflows/prod-client-cd.yml
  .github/workflows/prod-server-cd.yml
  README.md
  client/.coderabbit.yaml
  client/.gitignore
  client/.prettierignore
  client/.prettierrc
  client/babel.config.js
  client/biome.json
  client/eslint.config.js
  client/package.json
  client/pnpm-lock.yaml
  client/public/index.html
  client/src/App.tsx
  client/src/constants/colors.ts
  client/src/constants/routes.ts
  client/src/index.tsx
  client/src/layout/ui/Layout.styles.ts
  client/src/layout/ui/Layout.tsx
  client/src/pages/home/index.tsx
  client/src/pages/signup/index.tsx
  client/src/routes.tsx
  client/tsconfig.json
  client/webpack.common.js
  client/webpack.dev.js
  client/webpack.prod.js
  client/yarn.lock
  server/.gradle/8.14.2/checksums/checksums.lock
  server/.gradle/8.14.2/checksums/md5-checksums.bin
  server/.gradle/8.14.2/checksums/sha1-checksums.bin
  server/.gradle/8.14.2/executionHistory/executionHistory.bin
  server/.gradle/8.14.2/executionHistory/executionHistory.lock
  server/.gradle/8.14.2/fileChanges/last-build.bin
  server/.gradle/8.14.2/fileHashes/fileHashes.bin
  server/.gradle/8.14.2/fileHashes/fileHashes.lock
  server/.gradle/8.14.2/fileHashes/resourceHashesCache.bin
  server/.gradle/8.14.2/gc.properties
  server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  server/.gradle/buildOutputCleanup/cache.properties
  server/.gradle/buildOutputCleanup/outputFiles.bin
  server/.gradle/file-system.probe
  server/.gradle/vcs-1/gc.properties
  server/Dockerfile
  server/docker-compose.yml
Labels: chore, build, BE

#24 [BUILD] docker 배포용 script 작성
  server/deploy.sh
Labels: build, BE

#26 [BUILD] 도커 초기 세팅 변경
  server/.gradle/8.14.2/checksums/md5-checksums.bin
  server/.gradle/8.14.2/checksums/sha1-checksums.bin
  server/.gradle/8.14.2/executionHistory/executionHistory.bin
  server/.gradle/8.14.2/fileHashes/fileHashes.bin
  server/.gradle/8.14.2/fileHashes/resourceHashesCache.bin
  server/.gradle/buildOutputCleanup/outputFiles.bin
  server/.gradle/file-system.probe
  server/Dockerfile
  server/deploy.sh
  server/docker-compose.yml
Labels: build, BE

#30 [CHORE] Strorybook 및 Jest & RTL 테스트 초기세팅
  client/.gitignore
  client/.storybook/main.ts
  client/.storybook/preview.tsx
  client/babel.config.js
  client/eslint.config.js
  client/jest.config.ts
  client/jest.setup.ts
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/Button.stories.tsx
  client/src/components/Button.tsx
  client/src/layout/ui/Layout.styles.ts
  client/test/sum.test.tsx
  client/tsconfig.json
Labels: chore, FE

#33 [FIX] gitignore 설정 변경
  .gitignore
  server/.gitignore
  server/.gradle/8.14.2/checksums/checksums.lock
  server/.gradle/8.14.2/checksums/md5-checksums.bin
  server/.gradle/8.14.2/checksums/sha1-checksums.bin
  server/.gradle/8.14.2/executionHistory/executionHistory.bin
  server/.gradle/8.14.2/executionHistory/executionHistory.lock
  server/.gradle/8.14.2/fileChanges/last-build.bin
  server/.gradle/8.14.2/fileHashes/fileHashes.bin
  server/.gradle/8.14.2/fileHashes/fileHashes.lock
  server/.gradle/8.14.2/fileHashes/resourceHashesCache.bin
  server/.gradle/8.14.2/gc.properties
  server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  server/.gradle/buildOutputCleanup/cache.properties
  server/.gradle/buildOutputCleanup/outputFiles.bin
  server/.gradle/file-system.probe
  server/.gradle/vcs-1/gc.properties
Labels: build, BE

#38 [CHORE] emoji 테이블 유니크 제약조건 추가
  server/src/main/resources/schema.sql
Labels: chore, BE

#41 [FEAT] 엔티티 생성
  server/src/main/java/moment/MomentApplication.java
  server/src/main/java/moment/auth/.gitkeep
  server/src/main/java/moment/comment/domain/Comment.java
  server/src/main/java/moment/global/domain/BaseEntity.java
  server/src/main/java/moment/global/dto/.gitkeep
  server/src/main/java/moment/global/exception/.gitkeep
  server/src/main/java/moment/matching/domain/Matching.java
  server/src/main/java/moment/moment/domain/Moment.java
  server/src/main/java/moment/reply/domain/Emoji.java
  server/src/main/java/moment/reply/domain/EmojiType.java
  server/src/main/java/moment/user/application/.gitkeep
  server/src/main/java/moment/user/domain/User.java
  server/src/main/java/moment/user/dto/.gitkeep
  server/src/main/java/moment/user/exception/.gitkeep
  server/src/main/java/moment/user/infrastructure/.gitkeep
  server/src/main/java/moment/user/presentation/.gitkeep
  server/src/main/resources/schema.sql
Labels: feat, BE

#39 [FEAT] 랜딩페이지 및 HomePage 페이지 구현
  client/.coderabbit.yaml
  client/babel.config.js
  client/package.json
  client/pnpm-lock.yaml
  client/public/fonts/iansui.woff2
  client/public/index.html
  client/public/logo.webp
  client/src/App.tsx
  client/src/app/App.tsx
  client/src/app/layout/ui/Layout.styles.ts
  client/src/app/layout/ui/Layout.tsx
  client/src/app/layout/ui/Navbar.styles.ts
  client/src/app/layout/ui/Navbar.tsx
  client/src/app/layout/ui/StarField.styles.ts
  client/src/app/layout/ui/StarField.tsx
  client/src/app/layout/ui/index.ts
  client/src/app/routes/index.tsx
  client/src/app/routes/routes.ts
  client/src/app/styles/GlobalStyles.tsx
  client/src/app/styles/colors.ts
  client/src/components/Button.tsx
  client/src/features/auth/types/index.ts
  client/src/features/auth/ui/LoginButton.tsx
  client/src/index.tsx
  client/src/layout/ui/Layout.styles.ts
  client/src/pages/home/index.styles.ts
  client/src/pages/home/index.tsx
  client/src/shared/hooks/index.ts
  client/src/shared/hooks/useDelayedVisible.ts
  client/src/shared/ui/Button.stories.tsx
  client/src/shared/ui/Button.tsx
  client/src/shared/ui/Logo.styles.ts
  client/src/shared/ui/Logo.tsx
  client/src/widgets/hero/Hero.styles.ts
  client/src/widgets/hero/Hero.tsx
  client/src/widgets/hero/index.ts
  client/test/sum.test.tsx
  client/webpack.common.js
  client/webpack.dev.js
Labels: feat, FE

#46 [FEAT] 성공 응답 구현
  server/src/main/java/moment/global/dto/response/SuccessResponse.java
Labels: feat, BE

#45 [FEAT] style 전역 설정
  client/src/app/App.tsx
  client/src/app/layout/ui/Layout.styles.ts
  client/src/app/layout/ui/Navbar.styles.ts
  client/src/app/styles/emotion.d.ts
  client/src/app/styles/theme.ts
  client/src/features/auth/ui/LoginButton.tsx
  client/src/pages/home/index.tsx
  client/src/shared/ui/Button.styles.ts
  client/src/shared/ui/Button.tsx
  client/test/sum.test.tsx
Labels: chore, FE

#52 [FEAT] 회원가입 기능 구현 및 테스트
  server/build.gradle
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/user/application/.gitkeep
  server/src/main/java/moment/user/application/UserService.java
  server/src/main/java/moment/user/domain/User.java
  server/src/main/java/moment/user/dto/.gitkeep
  server/src/main/java/moment/user/dto/request/UserCreateRequest.java
  server/src/main/java/moment/user/exception/.gitkeep
  server/src/main/java/moment/user/infrastructure/.gitkeep
  server/src/main/java/moment/user/infrastructure/UserRepository.java
  server/src/main/java/moment/user/presentation/.gitkeep
  server/src/main/java/moment/user/presentation/UserController.java
  server/src/test/java/moment/user/application/UserServiceTest.java
  server/src/test/java/moment/user/domain/UserTest.java
  server/src/test/java/moment/user/infrastructure/UserRepositoryTest.java
  server/src/test/java/moment/user/presentation/UserControllerTest.java
Labels: feat, BE

#58 [FEAT] 로그인 기능 구현 및 테스트
  server/build.gradle
  server/docker-compose.yml
  server/src/main/java/moment/auth/.gitkeep
  server/src/main/java/moment/auth/application/AuthService.java
  server/src/main/java/moment/auth/application/TokenManager.java
  server/src/main/java/moment/auth/dto/LoginRequest.java
  server/src/main/java/moment/auth/infrastructure/JwtTokenManager.java
  server/src/main/java/moment/auth/presentation/AuthController.java
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/user/domain/User.java
  server/src/main/java/moment/user/infrastructure/UserRepository.java
  server/src/main/resources/application-dev.yml
  server/src/test/java/moment/MomentApplicationTests.java
  server/src/test/java/moment/auth/application/AuthServiceTest.java
  server/src/test/java/moment/auth/infrastructure/JwtTokenManagerTest.java
  server/src/test/java/moment/auth/presentation/AuthControllerTest.java
  server/src/test/java/moment/user/domain/UserTest.java
  server/src/test/java/moment/user/infrastructure/UserRepositoryTest.java
  server/src/test/java/moment/user/presentation/UserControllerTest.java
  server/src/test/resources/application-test.yml
Labels: docs, feat, BE

#63 [FEAT] LoginArgumentResolver 기능 구현 및 테스트
  server/src/main/java/moment/auth/application/AuthService.java
  server/src/main/java/moment/auth/application/TokenManager.java
  server/src/main/java/moment/auth/dto/request/LoginRequest.java
  server/src/main/java/moment/auth/infrastructure/JwtTokenManager.java
  server/src/main/java/moment/auth/presentation/AuthController.java
  server/src/main/java/moment/auth/presentation/AuthenticationPrincipal.java
  server/src/main/java/moment/auth/presentation/LoginUserArgumentResolver.java
  server/src/main/java/moment/global/config/WebConfig.java
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/user/application/UserService.java
  server/src/main/java/moment/user/dto/request/Authentication.java
  server/src/main/java/moment/user/dto/response/UserProfileResponse.java
  server/src/main/java/moment/user/presentation/UserController.java
  server/src/test/java/moment/auth/application/AuthServiceTest.java
  server/src/test/java/moment/auth/presentation/AuthControllerTest.java
  server/src/test/java/moment/user/presentation/UserControllerTest.java
Labels: feat, BE

#71 [MERGE] Main 브랜치에서 Develop 브랜치로 Merge
  client/.coderabbit.yaml
  client/.gitignore
  client/.storybook/main.ts
  client/.storybook/preview.tsx
  client/babel.config.js
  client/eslint.config.js
  client/jest.config.ts
  client/jest.setup.ts
  client/package.json
  client/pnpm-lock.yaml
  client/public/fonts/iansui.woff2
  client/public/index.html
  client/public/logo.webp
  client/src/App.tsx
  client/src/app/App.tsx
  client/src/app/layout/ui/Layout.styles.ts
  client/src/app/layout/ui/Layout.tsx
  client/src/app/layout/ui/Navbar.styles.ts
  client/src/app/layout/ui/Navbar.tsx
  client/src/app/layout/ui/StarField.styles.ts
  client/src/app/layout/ui/StarField.tsx
  client/src/app/layout/ui/index.ts
  client/src/app/routes/index.tsx
  client/src/app/routes/routes.ts
  client/src/app/styles/GlobalStyles.tsx
  client/src/app/styles/emotion.d.ts
  client/src/app/styles/theme.ts
  client/src/features/auth/types/index.ts
  client/src/features/auth/ui/LoginButton.tsx
  client/src/index.tsx
  client/src/layout/ui/Layout.styles.ts
  client/src/pages/home/index.styles.ts
  client/src/pages/home/index.tsx
  client/src/shared/hooks/index.ts
  client/src/shared/hooks/useDelayedVisible.ts
  client/src/shared/ui/Button.stories.tsx
  client/src/shared/ui/Button.styles.ts
  client/src/shared/ui/Button.tsx
  client/src/shared/ui/Logo.styles.ts
  client/src/shared/ui/Logo.tsx
  client/src/widgets/hero/Hero.styles.ts
  client/src/widgets/hero/Hero.tsx
  client/src/widgets/hero/index.ts
  client/test/sum.test.tsx
  client/tsconfig.json
  client/webpack.common.js
  client/webpack.dev.js
Labels: FE

#69 [FEAT] 아이디별 유저 조회 기능 구현
  server/src/main/java/moment/user/application/UserQueryService.java
  server/src/main/java/moment/user/application/UserQueryServiceImpl.java
Labels: feat, BE

#73 [FEAT] Comment 등록 API 개발
  server/src/main/java/moment/comment/application/CommentQueryService.java
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/comment/application/DefaultCommentQueryService.java
  server/src/main/java/moment/comment/domain/Comment.java
  server/src/main/java/moment/comment/dto/request/CommentCreateRequest.java
  server/src/main/java/moment/comment/dto/response/CommentCreateResponse.java
  server/src/main/java/moment/comment/infrastructure/CommentRepository.java
  server/src/main/java/moment/comment/presentation/CommentController.java
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/moment/application/MomentQueryService.java
  server/src/main/java/moment/moment/domain/Moment.java
  server/src/test/java/moment/auth/presentation/AuthControllerTest.java
  server/src/test/java/moment/comment/application/CommentServiceTest.java
  server/src/test/java/moment/comment/application/DefaultCommentQueryServiceTest.java
  server/src/test/java/moment/comment/domain/CommentTest.java
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
  server/src/test/java/moment/user/presentation/UserControllerTest.java
Labels: feat, BE

#74 [FEAT] 이모지 등록 기능 및 테스트 구현
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/reply/application/EmojiQueryService.java
  server/src/main/java/moment/reply/application/EmojiQueryServiceImpl.java
  server/src/main/java/moment/reply/application/EmojiService.java
  server/src/main/java/moment/reply/domain/Emoji.java
  server/src/main/java/moment/reply/domain/EmojiType.java
  server/src/main/java/moment/reply/dto/request/EmojiCreateRequest.java
  server/src/main/java/moment/reply/dto/response/EmojiCreateResponse.java
  server/src/main/java/moment/reply/infrastructure/EmojiRepository.java
  server/src/main/java/moment/reply/presentation/EmojiController.java
  server/src/test/java/moment/auth/presentation/AuthControllerTest.java
  server/src/test/java/moment/reply/application/EmojiServiceTest.java
  server/src/test/java/moment/reply/domain/EmojiTest.java
  server/src/test/java/moment/user/presentation/UserControllerTest.java
Labels: feat, BE

#80 [FIX] QueryService 구현체 이름 통일 및 UserQueryServiceImpl 구현
  server/src/main/java/moment/reply/application/DefaultEmojiQueryService.java
  server/src/main/java/moment/user/application/DefaultUserQueryService.java
Labels: fix, BE

#79 [CHORE] 배포 자동화 스크립트 임시 추가 및 도커 설정 변경
  .github/workflows/dev-server-cd.yml
  server/Dockerfile
  server/deploy.sh
  server/docker-compose.yml
Labels: chore, BE

#85 [BUILD] MSW 초기세팅
  client/babel.config.js
  client/jest.config.ts
  client/jest.setup.ts
  client/package.json
  client/pnpm-lock.yaml
  client/public/mockServiceWorker.js
  client/src/index.tsx
  client/src/mocks/browser.ts
  client/src/mocks/dummy.json
  client/src/mocks/handlers.ts
  client/src/mocks/server.ts
  client/test/sum.test.tsx
  client/tsconfig.json
  client/webpack.common.js
Labels: build, FE

#86 [BUILD] Github Action CI Pipeline 구축
  .github/workflows/prod-client-ci.yml
  client/.prettierignore
  client/.prettierrc
  client/eslint.config.js
  client/jest.config.js
  client/jest.config.ts
Labels: build

#92 [FEAT] 로그인 페이지 구현
  client/.gitignore
  client/src/app/routes/index.tsx
  client/src/app/routes/routes.ts
  client/src/app/styles/theme.ts
  client/src/features/auth/hooks/useLoginForm.ts
  client/src/features/auth/types/login.ts
  client/src/features/auth/ui/LoginButton.tsx
  client/src/features/auth/ui/LoginForm.styles.ts
  client/src/features/auth/ui/LoginForm.tsx
  client/src/pages/login/index.styles.ts
  client/src/pages/login/index.tsx
  client/src/shared/ui/input/Input.styles.ts
  client/src/widgets/signup/SignupStep.styles.ts
  client/src/widgets/signup/SignupStep1.tsx
  client/src/widgets/signup/SignupStep2.tsx
Labels: feat, FE

#90 [FEAT] Moment 조회 기능 구현
  server/src/main/java/moment/comment/infrastructure/CommentRepository.java
  server/src/main/java/moment/moment/application/DefaultMomentQueryService.java
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/main/java/moment/moment/dto/response/MomentCreateResponse.java
  server/src/main/java/moment/moment/dto/response/MyMomentCommentResponse.java
  server/src/main/java/moment/moment/dto/response/MyMomentEmojiResponse.java
  server/src/main/java/moment/moment/dto/response/MyMomentResponse.java
  server/src/main/java/moment/moment/infrastructure/MomentRepository.java
  server/src/main/java/moment/moment/presentation/MomentController.java
  server/src/main/java/moment/reply/infrastructure/EmojiRepository.java
  server/src/test/java/moment/moment/application/DefaultMomentQueryServiceTest.java
  server/src/test/java/moment/moment/application/momentServiceTest.java
Labels: docs, feat, BE

#106 [FEAT] 랜덤 매칭 알고리즘 구현
  .github/workflows/dev-server-cd.yml
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/matching/application/MatchingService.java
  server/src/main/java/moment/matching/application/RandomMatchingService.java
  server/src/main/java/moment/matching/domain/Matching.java
  server/src/main/java/moment/matching/domain/MatchingResult.java
  server/src/main/java/moment/matching/infrastructure/MatchingRepository.java
  server/src/main/java/moment/moment/domain/Moment.java
  server/src/main/java/moment/user/application/DefaultUserQueryService.java
  server/src/main/java/moment/user/application/UserQueryService.java
  server/src/main/java/moment/user/infrastructure/UserRepository.java
  server/src/test/java/moment/matching/application/RandomMatchingServiceTest.java
Labels: feat, BE

#110 [REFACTOR] Comment 리뷰 반영 및 CD 테스트
  .github/workflows/dev-server-cd.yml
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/test/java/moment/comment/application/CommentServiceTest.java
Labels: refactor, BE

#93 [FEAT] 로그인 유효성 검사 및 테스트코드 구현
  client/.gitignore
  client/jest.config.js
  client/package.json
  client/src/features/auth/hooks/useLoginForm.ts
  client/src/features/auth/ui/LoginForm.tsx
  client/src/features/auth/utils/validateLoginForm.test.ts
  client/src/features/auth/utils/validateLoginForm.ts
  client/test/sum.test.tsx
Labels: feat, test, FE

#103 [FEAT] 오늘의 코멘트 페이지 구현
  client/src/app/routes/index.tsx
  client/src/app/routes/routes.ts
  client/src/features/todayComment/ui/TodayCommentForm.tsx
  client/src/features/todayComment/ui/TodayCommentSuccessContent.tsx
  client/src/features/todayComment/ui/TodayCommentWriteContent.tsx
  client/src/features/todayMoment/hook/useSubmitted.ts
  client/src/features/todayMoment/ui/TodayContent.styles.ts
  client/src/features/todayMoment/ui/TodayMomentForm.tsx
  client/src/features/todayMoment/ui/TodayMomentSuccessContent.tsx
  client/src/features/todayMoment/ui/TodayMomentWriteContent.tsx
  client/src/pages/todayComment/index.tsx
  client/src/pages/todayMoment/index.tsx
  client/src/widgets/today/CardSuccessContainer.styles.ts
  client/src/widgets/today/CardSuccessContainer.tsx
Labels: feat, FE

#119 [FIX] Swagger Docs 문서 수정 및 ErrorResponse Status 필드 타입 변경
  server/src/main/java/moment/global/dto/response/ErrorResponse.java
Labels: fix, BE

#100 [BUILD] CD 배포 자동화 파이프라인 구현
  .github/workflows/prod-client-alarm.yml
  .github/workflows/prod-client-cd.yml
Labels: build, FE

#113 [FEAT] 로그인 및 회원가입 API 로직 구현
  client/package.json
  client/pnpm-lock.yaml
  client/src/app/App.tsx
  client/src/app/lib/api.ts
  client/src/app/lib/queryClient.ts
  client/src/features/auth/api/getProfile.tsx
  client/src/features/auth/api/loginUser.tsx
  client/src/features/auth/api/signupUser.tsx
  client/src/features/auth/context/UserProvider.tsx
  client/src/features/auth/context/useUserContext.ts
  client/src/features/auth/hooks/useLoginForm.ts
  client/src/features/auth/hooks/useLoginMutation.ts
  client/src/features/auth/hooks/useProfileQuery.ts
  client/src/features/auth/hooks/useSignup.ts
  client/src/features/auth/hooks/useSignupMutation.ts
  client/src/features/auth/types/login.ts
  client/src/features/auth/types/profile.ts
  client/src/features/auth/types/signup.ts
  client/src/features/auth/types/user.ts
  client/src/features/auth/ui/SignupForm.tsx
  client/src/features/auth/utils/validateLoginForm.test.ts
  client/src/features/auth/utils/validateLoginForm.ts
  client/src/index.tsx
  client/src/widgets/signup/SignupStep1.tsx
  client/src/widgets/signup/SignupStep2.tsx
  client/src/widgets/signup/SignupStep3.tsx
  client/webpack.common.js
Labels: feat, FE

#132 [FEAT] 모멘트 매칭 및 조회 기능 추가
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/main/java/moment/moment/dto/response/MatchedMomentResponse.java
  server/src/main/java/moment/moment/infrastructure/MomentRepository.java
  server/src/main/java/moment/moment/presentation/MomentController.java
  server/src/test/java/moment/moment/application/momentServiceTest.java
  server/src/test/java/moment/moment/infrastructure/MomentRepositoryTest.java
  server/src/test/java/moment/moment/presentation/MomentControllerTest.java
Labels: feat, BE

#134 [FIX] Comment 등록 시 생성 시간 반환 누락 문제 해결
  server/src/main/java/moment/comment/application/dto/response/CommentCreateResponse.java
Labels: fix, BE

#151 [BUILD] CI/CD 설정 구현
  .github/workflows/dev-server-cd.yml
  .github/workflows/dev-server-ci.yml
  server/src/main/java/moment/reply/dto/request/EmojiCreateRequest.java
Labels: build, BE

#150 [FEAT] 댓글 Emoji POST API 구현
  .github/workflows/dev-server-cd.yml
  .github/workflows/dev-server-ci.yml
  client/eslint.config.js
  client/src/features/auth/ui/SignupForm.tsx
  client/src/features/emoji/api/sendEmoji.ts
  client/src/features/emoji/hooks/useEmojiMutation.ts
  client/src/features/emoji/type/emoji.ts
  client/src/features/emoji/ui/EmojiButton.tsx
  client/src/pages/home/index.tsx
  client/src/shared/hooks/useEnterKeyHandler.ts
  client/src/widgets/signup/SignupStep1.tsx
  client/src/widgets/signup/SignupStep2.tsx
  client/src/widgets/signup/SignupStep3.tsx
  server/src/main/java/moment/auth/presentation/AuthController.java
  server/src/main/java/moment/global/config/SwaggerConfig.java
  server/src/main/java/moment/reply/dto/request/EmojiCreateRequest.java
Labels: feat, FE

#157 [BUILD] CI/CD 설정 구현
  .github/workflows/dev-server-cd.yml
  .github/workflows/dev-server-ci.yml
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
  server/src/test/java/moment/moment/presentation/MomentControllerTest.java
  server/src/test/resources/application-test.yml
Labels: build, BE

#159 [FEAT] Moments GET, POST API 연결
  .github/workflows/dev-client-alarm.yml
  .github/workflows/dev-client-ci.yml
  .github/workflows/dev-client-storybook.yml
  .github/workflows/dev-server-cd.yml
  .github/workflows/dev-server-ci.yml
  client/src/features/moment/api/getMoments.ts
  client/src/features/moment/api/sendMoments.ts
  client/src/features/moment/hook/useMomentsMutation.ts
  client/src/features/moment/hook/useMomentsQuery.ts
  client/src/features/moment/hook/useSendMoments.ts
  client/src/features/moment/types/moments.ts
  client/src/features/moment/ui/MyMomentsList.styles.ts
  client/src/features/moment/ui/MyMomentsList.tsx
  client/src/features/moment/ui/TodayMomentForm.tsx
  client/src/features/moment/ui/TodayMomentSuccessContent.tsx
  client/src/features/moment/ui/TodayMomentWriteContent.tsx
  client/src/pages/myMoments/index.tsx
  client/src/shared/utils/formatRelativeTime.ts
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
  server/src/test/java/moment/moment/presentation/MomentControllerTest.java
  server/src/test/resources/application-test.yml
Labels: feat, FE

#161 [REFACTOR] Auth API 기능 및 테스트 수정
  server/src/main/java/moment/auth/infrastructure/JwtTokenManager.java
  server/src/test/java/moment/auth/presentation/AuthControllerTest.java
Labels: refactor, BE

#163 [FIX] docker-compose.yml image 경로 수정
  server/docker-compose.yml
Labels: fix, BE

#166 [FIX] CD .yml 설정 수정
  .github/workflows/dev-server-cd.yml
  server/docker-compose.yml
Labels: fix, BE

#168 [FIX] Develop branch merge conflict 해결
  .github/workflows/dev-server-cd.yml
  .github/workflows/dev-server-ci.yml
  client/src/app/routes/index.tsx
  client/src/app/routes/routes.ts
  client/src/features/comment/api/getComments.tsx
  client/src/features/comment/api/sendComments.tsx
  client/src/features/comment/hooks/useCommentsQuery.ts
  client/src/features/comment/hooks/useSend.ts
  client/src/features/comment/hooks/useSendCommentsMutation.ts
  client/src/features/comment/types/comments.ts
  client/src/features/comment/ui/NotFoundComments.tsx
  client/src/features/comment/ui/TodayCommentForm.tsx
  client/src/features/comment/ui/TodayCommentSuccessContent.tsx
  client/src/features/comment/ui/TodayCommentWriteContent.tsx
  client/src/features/moment/hook/useSubmitted.ts
  client/src/features/moment/ui/MyMomentsList.tsx
  client/src/features/moment/ui/TodayMomentForm.tsx
  client/src/features/moment/ui/TodayMomentSuccessContent.tsx
  client/src/pages/myMoments/index.tsx
  client/src/pages/postComments/index.tsx
  client/src/pages/todayComment/TodayCommentPage.tsx
  client/src/pages/todayComment/TodayCommentSuccessPage.tsx
  server/docker-compose.yml
  server/src/main/java/moment/auth/infrastructure/JwtTokenManager.java
  server/src/main/java/moment/auth/presentation/AuthController.java
  server/src/test/java/moment/auth/presentation/AuthControllerTest.java
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
  server/src/test/java/moment/moment/presentation/MomentControllerTest.java
  server/src/test/java/moment/user/infrastructure/UserRepositoryTest.java
Labels: fix

#164 [FEAT] emojis get API 연결
  client/src/features/emoji/api/getEmojis.ts
  client/src/features/emoji/const/emojiType.ts
  client/src/features/emoji/hooks/useEmojisQuery.ts
  client/src/features/emoji/type/emoji.ts
  client/src/features/emoji/utils/emojiMapping.ts
  client/src/pages/postComments/index.tsx
Labels: feat, FE

#175 [FIX] CD .yml 설정 변경
  .github/workflows/dev-server-cd.yml
  .github/workflows/dev-server-ci.yml
  server/docker-compose.yml
Labels: fix, BE

#169 [FEAT] 사용자 로그아웃 API 및 UI 컴포넌트 구현
  client/eslint.config.js
  client/public/favicon.ico
  client/src/app/layout/ui/Navbar.styles.ts
  client/src/app/layout/ui/Navbar.tsx
  client/src/app/lib/api.ts
  client/src/features/auth/api/getProfile.ts
  client/src/features/auth/api/getProfile.tsx
  client/src/features/auth/api/loginUser.ts
  client/src/features/auth/api/logoutUser.ts
  client/src/features/auth/api/signupUser.ts
  client/src/features/auth/hooks/useLogoutMutation.ts
  client/src/features/auth/hooks/useProfileQuery.ts
  client/src/features/auth/types/profile.ts
  client/src/features/auth/ui/AuthButton.styles.ts
  client/src/features/auth/ui/AuthButton.tsx
  client/src/features/auth/ui/LoginButton.tsx
Labels: feat, FE

#192 [Fix] CI CD 버그 수정
  .github/workflows/dev-server-cd.yml
  .github/workflows/dev-server-ci.yml
  server/docker-compose.yml
  server/src/main/java/moment/MomentApplication.java
Labels: fix, BE

#201 [FIX] ci/cd 환경변수 설정변경
  .github/workflows/dev-server-cd.yml
  server/src/main/java/moment/MomentApplication.java
Labels: fix, BE

#202 [FIX] CI/CD 배포 설정 변경
  .github/workflows/dev-server-cd.yml
  .github/workflows/dev-server-ci.yml
  server/docker-compose.yml
  server/src/main/java/moment/MomentApplication.java
Labels: fix, BE

#207 [FIX] cd 트리거 수정
  .github/workflows/dev-server-cd.yml
  server/src/main/java/moment/MomentApplication.java
Labels: chore, BE

#178 [TEST] 공용 컴포넌트 Storybook 테스트 리팩토링
  client/src/shared/ui/button/Button.stories.tsx
  client/src/shared/ui/card/Card.stories.tsx
  client/src/shared/ui/input/Input.stories.tsx
  client/src/shared/ui/simpleCard/SimpleCard.stories.tsx
  client/src/shared/ui/textArea/TextArea.stories.tsx
  client/src/shared/ui/titleContainer/TitleContainer.stories.tsx
Labels: test, FE

#208 [FIX] cd 설정 변경
  .github/workflows/dev-server-cd.yml
  server/src/main/java/moment/MomentApplication.java
Labels: fix, BE

#212 [FEAT] 내 모멘트의 코멘트 id 추가
  server/src/main/java/moment/moment/dto/response/MyMomentCommentResponse.java
Labels: feat, BE

#214 [Feat] 내 코멘트의 id 추가
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/comment/dto/request/CommentCreateRequest.java
  server/src/main/java/moment/comment/dto/response/CommentCreateResponse.java
  server/src/main/java/moment/comment/dto/response/EmojiDetailResponse.java
  server/src/main/java/moment/comment/dto/response/MomentDetailResponse.java
  server/src/main/java/moment/comment/dto/response/MyCommentsResponse.java
  server/src/main/java/moment/comment/presentation/CommentController.java
  server/src/test/java/moment/comment/application/CommentServiceTest.java
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
Labels: feat, BE

#206 [FEAT] 스켈레톤 UI 구현 및 스토리북 구현
  client/src/features/moment/ui/MyMomentsList.tsx
  client/src/pages/postComments/index.tsx
  client/src/shared/ui/index.ts
  client/src/shared/ui/skeleton/CommonSkeletonCard.stories.tsx
  client/src/shared/ui/skeleton/CommonSkeletonCard.styles.ts
  client/src/shared/ui/skeleton/CommonSkeletonCard.tsx
  client/src/shared/ui/skeleton/Skeleton.styles.ts
  client/src/shared/ui/skeleton/Skeleton.tsx
  client/src/shared/ui/skeleton/index.ts
Labels: feat, test, FE

#223 [FIX] DockerFile 환경변수 추가
  server/Dockerfile
Labels: fix, BE

#217 [FIX] 모멘트에 이미 코멘트 존재하는 경우 코멘트 등록 시 예외 발생하도록 수정
  server/src/main/java/moment/comment/application/CommentQueryService.java
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/comment/application/DefaultCommentQueryService.java
  server/src/main/java/moment/comment/infrastructure/CommentRepository.java
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/test/java/moment/comment/application/CommentServiceTest.java
  server/src/test/java/moment/comment/application/DefaultMomentQueryServiceTest.java
  server/src/test/java/moment/comment/infrastructure/CommentRepositoryTest.java
Labels: fix, BE

#228 [TEST] Moment 테스트 추가 및 리팩터링
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/main/java/moment/moment/dto/response/MyMomentResponse.java
  server/src/main/java/moment/moment/infrastructure/MomentRepository.java
  server/src/main/java/moment/moment/presentation/MomentController.java
  server/src/test/java/moment/moment/application/momentServiceTest.java
  server/src/test/java/moment/moment/presentation/MomentControllerTest.java
Labels: test, refactor, BE

#230 [REFACTOR] MomentDetailResponse moment id 추가
  server/src/main/java/moment/comment/dto/response/MomentDetailResponse.java
Labels: refactor, BE

#237 [REFACTOR] 에러 코드 수정
  server/src/main/java/moment/auth/application/AuthService.java
  server/src/main/java/moment/auth/infrastructure/JwtTokenManager.java
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/global/exception/GlobalExceptionHandler.java
  server/src/main/java/moment/moment/domain/Moment.java
  server/src/main/java/moment/reply/domain/Emoji.java
  server/src/main/java/moment/user/application/UserService.java
  server/src/main/java/moment/user/domain/User.java
  server/src/test/java/moment/auth/application/AuthServiceTest.java
  server/src/test/java/moment/moment/domain/MomentTest.java
  server/src/test/java/moment/reply/domain/EmojiTest.java
  server/src/test/java/moment/user/domain/UserTest.java
Labels: refactor, BE

#215 [FEAT] Toast 시스템 구현
  client/src/app/App.tsx
  client/src/features/auth/hooks/useLoginMutation.ts
  client/src/features/auth/hooks/useLogoutMutation.ts
  client/src/features/auth/hooks/useSignupMutation.ts
  client/src/features/comment/hooks/useSendComments.ts
  client/src/features/comment/hooks/useSendCommentsMutation.ts
  client/src/features/emoji/hooks/useDeleteEmojiMutation.ts
  client/src/features/emoji/hooks/useEmojiMutation.ts
  client/src/features/emoji/ui/EmojiButton.tsx
  client/src/features/moment/hook/useMomentsMutation.ts
  client/src/features/moment/ui/MyMomentsList.tsx
  client/src/shared/context/toast/ToastProvider.tsx
  client/src/shared/context/toast/useToastContext.ts
  client/src/shared/hooks/useToast.ts
  client/src/shared/types/toast.ts
  client/src/shared/ui/index.ts
  client/src/shared/ui/toast/Toast.stories.tsx
  client/src/shared/ui/toast/Toast.styles.ts
  client/src/shared/ui/toast/Toast.tsx
Labels: feat, FE

#221 [FEAT] 에러바운더리 구현
  client/src/app/App.tsx
  client/src/app/layout/ui/Layout.tsx
  client/src/pages/home/index.tsx
  client/src/shared/types/errorBoundary.ts
  client/src/shared/ui/errorBoundary/ErrorBoundary.styles.ts
  client/src/shared/ui/errorBoundary/ErrorBoundary.tsx
  client/src/shared/ui/errorBoundary/ErrorFallback.tsx
  client/src/shared/ui/errorBoundary/index.ts
  client/src/shared/ui/index.ts
Labels: feat, FE

#225 [FEAT] 404 에러 페이지 및 라우팅 구현
  client/src/app/routes/index.tsx
  client/src/pages/home/index.tsx
  client/src/pages/notFound/index.styles.ts
  client/src/pages/notFound/index.tsx
Labels: feat, FE

#233 [FEAT] Emoji 데이터 상태 관리 적용
  client/src/features/emoji/hooks/useDeleteEmojiMutation.ts
  client/src/features/emoji/hooks/useEmojiMutation.ts
  client/src/features/emoji/ui/EmojiButton.tsx
  client/src/features/moment/ui/MyMomentsCard.tsx
  client/src/features/moment/ui/MyMomentsList.tsx
  client/src/pages/postComments/index.tsx
Labels: feat, FE

#260 [FEAT] Google Analytics 기능 구현
  .github/workflows/prod-client-cd.yml
  client/package.json
  client/pnpm-lock.yaml
  client/src/index.tsx
  client/src/pages/home/index.tsx
  client/src/shared/lib/ga/index.ts
  client/webpack.common.js
Labels: feat, build, FE

#257 [FEAT] Login Redirect 로직 구현
  client/src/app/routes/ProtectedRoute.tsx
  client/src/app/routes/index.tsx
Labels: feat, FE

#269 [FIX] 오늘의 모멘트 로직 수정
  client/src/features/moment/ui/TodayMomentForm.tsx
  client/src/features/moment/ui/TodayMomentSuccessContent.tsx
  client/src/shared/ui/errorBoundary/ErrorBoundary.styles.ts
Labels: refactor, fix

#262 [FEAT] 오늘의 모멘트를 이미 작성했는지 확인하는 기능 구현 및 테스트
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/main/java/moment/moment/domain/MomentCreatePolicy.java
  server/src/main/java/moment/moment/domain/MomentCreationStatus.java
  server/src/main/java/moment/moment/domain/OnceADayPolicy.java
  server/src/main/java/moment/moment/dto/response/MomentCreationStatusResponse.java
  server/src/main/java/moment/moment/infrastructure/MomentRepository.java
  server/src/main/java/moment/moment/presentation/MomentController.java
  server/src/test/java/moment/moment/application/momentServiceTest.java
  server/src/test/java/moment/moment/infrastructure/MomentRepositoryTest.java
  server/src/test/java/moment/moment/presentation/MomentControllerTest.java
Labels: docs, feat, BE

#252 [FEAT] 코멘트 등록 전 상태 체크 API 구현
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/comment/domain/CommentCreationStatus.java
  server/src/main/java/moment/comment/dto/response/CommentCreationStatusResponse.java
  server/src/main/java/moment/comment/dto/response/MyCommentsResponse.java
  server/src/main/java/moment/comment/presentation/CommentController.java
  server/src/main/java/moment/moment/application/DefaultMomentQueryService.java
  server/src/main/java/moment/moment/application/MomentQueryService.java
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/test/java/moment/comment/application/CommentServiceTest.java
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
  server/src/test/java/moment/moment/application/DefaultMomentQueryServiceTest.java
  server/src/test/java/moment/moment/application/momentServiceTest.java
  server/src/test/java/moment/user/application/UserServiceTest.java
Labels: feat, BE

#256 [FEAT] 닉네임 중복 체크 API 구현
  server/src/main/java/moment/user/application/UserService.java
  server/src/main/java/moment/user/domain/User.java
  server/src/main/java/moment/user/dto/request/NicknameConflictCheckRequest.java
  server/src/main/java/moment/user/dto/response/NicknameConflictCheckResponse.java
  server/src/main/java/moment/user/presentation/UserController.java
  server/src/test/java/moment/comment/domain/CommentTest.java
  server/src/test/java/moment/reply/application/EmojiServiceTest.java
  server/src/test/java/moment/reply/infrastructure/EmojiRepositoryTest.java
  server/src/test/java/moment/user/application/UserServiceTest.java
  server/src/test/java/moment/user/domain/UserTest.java
  server/src/test/java/moment/user/presentation/UserControllerTest.java
Labels: feat, BE

#263 [FEAT] 회원가입 시 아이디, 닉네임 중복 체크 로직 추가 & 타임 스탬프 기준 KR로 수정
  client/src/app/styles/theme.ts
  client/src/features/auth/api/checkEmailExist.ts
  client/src/features/auth/api/checkNicknameExist.ts
  client/src/features/auth/hooks/useCheckEmail.ts
  client/src/features/auth/hooks/useCheckNickname.ts
  client/src/features/auth/ui/CheckButton.tsx
  client/src/features/auth/ui/SignupForm.tsx
  client/src/features/auth/utils/validateAuth.test.ts
  client/src/features/auth/utils/validateAuth.ts
  client/src/shared/utils/formatRelativeTime.ts
  client/src/widgets/signup/SignupStep.styles.ts
  client/src/widgets/signup/SignupStep1.tsx
  client/src/widgets/signup/SignupStep2.tsx
Labels: feat, FE

#275 [RELEASE] Merge into main branch from develop branch
  client/src/app/styles/theme.ts
  client/src/features/moment/ui/MyMomentsList.tsx
  client/src/pages/postComments/index.tsx
  client/src/widgets/signup/SignupStep.styles.ts
  client/src/widgets/signup/SignupStep1.tsx
Labels: Release

#282 [FEAT] 이모지 보냈으면 이모지 보내기 버튼 UI 안보이도록 수정
  client/src/features/moment/ui/MyMomentsCard.tsx
Labels: feat, FE

#284 [RELEASE] Merge into main branch from develop branch
  client/src/features/auth/hooks/useCheckNickname.ts
  client/src/features/auth/ui/SignupForm.tsx
  client/src/features/moment/ui/MyMomentsCard.tsx
  client/src/index.tsx
  client/src/pages/postComments/index.tsx
  client/src/widgets/signup/SignupStep.styles.ts
  client/src/widgets/signup/SignupStep1.tsx
  client/src/widgets/signup/SignupStep2.tsx
Labels: Release

#294 [BUILD] Sentry 에러 트래킹 환경 구축
  client/instrument.js
  client/package.json
  client/pnpm-lock.yaml
  client/src/index.tsx
  client/src/shared/ui/errorBoundary/ErrorBoundary.tsx
  client/webpack.common.js
Labels: build, FE

#281 [FEAT] 모멘트 생성 요청 dto 유효성 검증 추가
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/main/java/moment/moment/domain/Moment.java
  server/src/main/java/moment/moment/dto/request/MomentCreateRequest.java
  server/src/main/java/moment/moment/presentation/MomentController.java
  server/src/test/java/moment/moment/domain/MomentTest.java
Labels: feat, BE

#285 [FEAT] Today Comment 페이지에서 Comment Status에 따른 로직 구현
  client/src/app/routes/index.tsx
  client/src/features/comment/api/getCommentCreationStatus.ts
  client/src/features/comment/hooks/useCommentCreationStatusQuery.ts
  client/src/features/comment/types/comments.ts
  client/src/features/comment/ui/NotFoundComments.tsx
  client/src/features/moment/ui/MyMomentsCard.tsx
  client/src/features/moment/ui/MyMomentsList.tsx
  client/src/features/moment/ui/NotFoundMyMoments.tsx
  client/src/pages/postComments/NotFoundMyComments.tsx
  client/src/pages/postComments/index.tsx
  client/src/pages/todayComment/TodayCommentPage.tsx
  client/src/pages/todayComment/index.tsx
  client/src/shared/ui/index.ts
  client/src/shared/ui/notFound/NotFound.stories.tsx
  client/src/shared/ui/notFound/NotFound.styles.ts
  client/src/shared/ui/notFound/NotFound.tsx
  client/src/shared/ui/simpleCard/SimpleCard.styles.ts
Labels: feat, FE

#295 [FEAT] Service 계층 로깅 구현
  server/.gitignore
  server/src/main/java/moment/global/logging/ServiceLogAspect.java
  server/src/main/java/moment/matching/application/RandomMatchingService.java
  server/src/main/resources/logback-spring.xml
Labels: feat, BE

#298 [FEAT] 레포지토리 로깅 기능 구현
  server/src/main/java/moment/global/logging/ApiLogInterceptor.java
  server/src/main/java/moment/global/logging/RepositoryLogAspect.java
  server/src/main/resources/application-dev.yml
  server/src/main/resources/logback-spring.xml
  server/src/test/resources/application-test.yml
Labels: feat, BE
