Repository woowacourse-teams/2025-moment, pull requests merged in 2025-08, with the labels that each got.

#319 [FIX] 포인트 부여 기능 수정
  server/.coderabbit.yaml
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/reply/application/EmojiService.java
  server/src/main/java/moment/reply/infrastructure/EmojiRepository.java
  server/src/main/java/moment/reward/application/PointRewardService.java
  server/src/main/java/moment/reward/application/RewardService.java
  server/src/main/java/moment/reward/domain/PointHistory.java
  server/src/main/java/moment/reward/domain/Reason.java
  server/src/main/java/moment/reward/infrastructure/RewardRepository.java
  server/src/main/resources/schema.sql
  server/src/test/java/moment/comment/application/CommentServiceTest.java
  server/src/test/java/moment/reply/application/EmojiServiceTest.java
  server/src/test/java/moment/reward/application/PointRewardServiceTest.java
  server/src/test/java/moment/reward/infrastructure/RewardRepositoryTest.java
Labels: fix, BE

#325 [FIX] 개발 서버 schema.sql 내부에 alter table 쿼리 제거
  server/src/main/resources/schema.sql
Labels: fix, BE

#326 [FEAT] 유저 프로필 조회 응답값 변경
  server/src/main/java/moment/user/dto/response/UserProfileResponse.java
  server/src/test/java/moment/user/presentation/UserControllerTest.java
Labels: feat, BE

#337 [TEST] 구글 로그인 테스트 코드 작성
  server/src/main/java/moment/auth/dto/google/GoogleAccessToken.java
  server/src/main/java/moment/auth/dto/google/GoogleUserInfo.java
  server/src/main/java/moment/auth/infrastructure/GoogleAuthClient.java
  server/src/test/java/moment/auth/application/AuthServiceTest.java
  server/src/test/java/moment/auth/application/GoogleAuthServiceTest.java
  server/src/test/java/moment/auth/presentation/AuthControllerTest.java
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
  server/src/test/java/moment/user/infrastructure/UserRepositoryTest.java
Labels: test, BE

#340 [FEAT] 알림 기능 구현
  server/build.gradle
  server/docker-compose.yml
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/notification/application/DefaultNotificationQueryService.java
  server/src/main/java/moment/notification/application/NotificationQueryService.java
  server/src/main/java/moment/notification/application/NotificationService.java
  server/src/main/java/moment/notification/domain/Notification.java
  server/src/main/java/moment/notification/domain/NotificationType.java
  server/src/main/java/moment/notification/domain/TargetType.java
  server/src/main/java/moment/notification/dto/response/NotificationResponse.java
  server/src/main/java/moment/notification/dto/response/NotificationSseResponse.java
  server/src/main/java/moment/notification/infrastructure/NotificationRepository.java
  server/src/main/java/moment/notification/presentation/NotificationController.java
  server/src/main/java/moment/reply/application/EmojiService.java
  server/src/main/resources/schema.sql
  server/src/test/java/moment/comment/application/CommentServiceTest.java
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
  server/src/test/java/moment/common/DatabaseCleaner.java
  server/src/test/java/moment/notification/application/DefaultNotificationQueryServiceTest.java
  server/src/test/java/moment/notification/application/NotificationServiceTest.java
  server/src/test/java/moment/notification/domain/NotificationTest.java
  server/src/test/java/moment/notification/infrastructure/NotificationRepositoryTest.java
  server/src/test/java/moment/notification/presentation/NotificationControllerTest.java
  server/src/test/java/moment/reply/application/EmojiServiceTest.java
  server/src/test/java/moment/reply/presentation/EmojiControllerTest.java
  server/src/test/resources/schema-test.sql
Labels: feat, BE

#348 [FIX] 이메일 중복 확인 시 이메일 정규식 수정
  server/src/main/java/moment/user/dto/request/EmailConflictCheckRequest.java
Labels: fix, BE

#356 [FIX] sse 버그 수정
  server/src/main/java/moment/MomentApplication.java
  server/src/main/java/moment/notification/application/NotificationService.java
Labels: fix, BE

#360 [FIX] sse를 트랜잭션에서 제외
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/notification/application/SseNotificationService.java
  server/src/main/java/moment/reply/application/EmojiService.java
  server/src/test/java/moment/notification/presentation/NotificationControllerTest.java
Labels: fix, BE

#366 [FIX] osiv false 설정 및 sse 활성화
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/notification/presentation/NotificationController.java
  server/src/main/java/moment/reply/application/EmojiService.java
  server/src/main/resources/application-dev.yml
  server/src/test/java/moment/notification/application/NotificationServiceTest.java
  server/src/test/java/moment/notification/presentation/NotificationControllerTest.java
  server/src/test/resources/application-test.yml
Labels: fix, BE

#354 [FIX] 일반 회원가입에서 이메일 중복 확인 시 ProviderType 고려하도록 변경
  server/src/main/java/moment/user/application/UserService.java
  server/src/main/java/moment/user/infrastructure/UserRepository.java
  server/src/main/java/moment/user/presentation/UserController.java
  server/src/test/java/moment/auth/application/AuthServiceTest.java
  server/src/test/java/moment/auth/application/GoogleAuthServiceTest.java
  server/src/test/java/moment/user/application/UserServiceTest.java
  server/src/test/java/moment/user/infrastructure/UserRepositoryTest.java
  server/src/test/java/moment/user/presentation/UserControllerTest.java
Labels: fix, BE

#375 [FIX] CI / CD 트리거 수정
  .github/workflows/dev-server-cd.yml
  .github/workflows/dev-server-ci.yml
  server/src/main/java/moment/notification/application/SseNotificationService.java
Labels: fix, BE

#379 fix: ci 트리거 수정
  .github/workflows/dev-server-ci.yml
  server/src/main/java/moment/MomentApplication.java
Labels: fix, BE

#384 [FIX] cd 트리거 수정
  server/src/main/java/moment/MomentApplication.java
Labels: fix, BE

#386 [REFACTOR] Moment, Comment 글자 수 제한 200자로 변경
  server/src/main/java/moment/comment/domain/Comment.java
  server/src/main/java/moment/comment/dto/request/CommentCreateRequest.java
  server/src/main/java/moment/comment/presentation/CommentController.java
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/moment/domain/Moment.java
  server/src/main/java/moment/moment/dto/request/MomentCreateRequest.java
  server/src/test/java/moment/comment/domain/CommentTest.java
  server/src/test/java/moment/moment/domain/MomentTest.java
Labels: refactor, BE

#367 [FEAT] Collection 페이지 분리 및 라우터 적용
  client/src/app/layout/ui/Navbar.tsx
  client/src/app/routes/index.tsx
  client/src/app/routes/routes.ts
  client/src/features/auth/hooks/useLogoutMutation.ts
  client/src/pages/collection/CollectionHeader.tsx
  client/src/pages/collection/index.styles.ts
  client/src/pages/collection/index.tsx
  client/src/pages/collection/mycomment/index.tsx
  client/src/pages/collection/mymoment/index.tsx
  client/src/pages/todayComment/index.tsx
  client/src/widgets/navigatorsBar/index.styles.ts
  client/src/widgets/navigatorsBar/index.tsx
Labels: feat, FE

#369 [FEAT] 랜딩페이지 아이콘 위젯 추가
  client/public/blackHole.png
  client/src/app/layout/ui/Navbar.tsx
  client/src/pages/home/index.styles.ts
  client/src/pages/home/index.tsx
  client/src/widgets/navigatorsBar/index.styles.ts
  client/src/widgets/navigatorsBar/index.tsx
Labels: feat, FE

#389 [FEAT] 회원가입 이메일 자동완성 API 연결 및 로직 수정
  client/src/features/auth/api/getRandomNickname.ts
  client/src/features/auth/hooks/useCheckEmail.ts
  client/src/features/auth/hooks/useCheckNickname.ts
  client/src/features/auth/hooks/useRandomNicknameQuery.ts
  client/src/features/auth/hooks/useSignup.ts
  client/src/features/auth/ui/LoginForm.styles.ts
  client/src/features/auth/ui/LoginForm.tsx
  client/src/features/auth/ui/SignupForm.tsx
  client/src/features/auth/utils/validateAuth.test.ts
  client/src/features/auth/utils/validateAuth.ts
  client/src/features/comment/ui/TodayCommentWriteContent.tsx
  client/src/features/moment/ui/TodayMomentWriteContent.tsx
  client/src/pages/collection/CollectionHeader.tsx
  client/src/widgets/signup/SignupStep2.tsx
Labels: feat, FE

#371 [FEAT] 알림 기능 구현
  client/src/app/lib/api.ts
  client/src/app/styles/theme.ts
  client/src/features/comment/hooks/useCommentsWithNotifications.ts
  client/src/features/comment/types/comments.ts
  client/src/features/comment/types/commentsWithNotifications.ts
  client/src/features/comment/ui/MyCommentsCard.tsx
  client/src/features/comment/ui/MyCommentsList.tsx
  client/src/features/moment/hook/useMomentsWithNotifications.ts
  client/src/features/moment/types/momentsWithNotifications.ts
  client/src/features/moment/ui/MyMomentsCard.tsx
  client/src/features/moment/ui/MyMomentsList.tsx
  client/src/features/notification/api/getNotifications.ts
  client/src/features/notification/api/patchNotifications.ts
  client/src/features/notification/hooks/useNotificationsMutation.ts
  client/src/features/notification/hooks/useNotificationsQuery.ts
  client/src/features/notification/hooks/useReadNotifications.ts
  client/src/features/notification/types/notifications.ts
  client/src/shared/ui/card/Card.styles.ts
  client/src/shared/ui/card/Card.tsx
Labels: feat, FE

#392 [FEAT] 실시간 알림 구현
  client/eslint.config.js
  client/src/app/layout/ui/Layout.tsx
  client/src/features/comment/hooks/useCommentsWithNotifications.ts
  client/src/features/notification/api/subscribeNotifications.ts
  client/src/features/notification/hooks/useSSENotifications.ts
  client/src/features/notification/types/sseNotification.ts
  client/src/shared/ui/card/Card.styles.ts
Labels: feat, FE

#401 [FEAT] 구글 로그인 성공 시 콜백 함수 반환 URL 수정
  server/src/main/java/moment/auth/presentation/AuthController.java
  server/src/test/java/moment/auth/presentation/AuthControllerTest.java
Labels: feat, BE

#409 [FIX] Flyway MySQL 의존성 추가 및 로컬 실행용 docker-compose.yml 변경
  server/build.gradle
  server/docker-compose.yml
Labels: fix, BE

#414 [FIX] Flyway 의존성 수정
  server/build.gradle
  server/docker-compose.yml
  server/src/main/resources/db/migration/mysql/V2__alter_users__mysql.sql
  server/src/test/resources/db/migration/h2/V2__alter_users__h2.sql
Labels: fix, BE

#416 [FIX] cd 스크립트 권한변경
  .github/workflows/dev-server-cd.yml
  server/src/main/java/moment/MomentApplication.java
Labels: build, BE

#419 [BUILD] 배포 이미지 선정 방식 변경
  .github/workflows/dev-server-cd.yml
  .github/workflows/dev-server-ci.yml
  server/src/main/java/moment/MomentApplication.java
Labels: build, BE

#420 [FIX] github actions artifact 버전 변경
  .github/workflows/dev-server-cd.yml
  .github/workflows/dev-server-ci.yml
  server/src/main/java/moment/MomentApplication.java
Labels: fix, BE

#428 [FIX] ec2 도커 컴포즈 내 태그 전달
  .github/workflows/dev-server-cd.yml
  server/src/main/java/moment/MomentApplication.java
Labels: fix, BE

#431 [BUILD] 롤백 스크립트 작성
  .github/workflows/dev-server-rollback.yml
Labels: build, BE

#450 [Release] Merge into main branch from develop
  client/src/app/routes/routes.ts
  client/src/app/styles/theme.ts
  client/src/shared/hooks/useModal.ts
  client/src/shared/hooks/useModalFocus.ts
  client/src/shared/types/modal.ts
  client/src/shared/ui/modal/Modal.stories.tsx
  client/src/shared/ui/modal/Modal.styles.ts
  client/src/shared/ui/modal/Modal.tsx
Labels: Release

#457 [FEAT] 코멘트 응답형식및 불필요한 api제거
  server/src/main/java/moment/comment/application/CommentQueryService.java
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/comment/application/DefaultCommentQueryService.java
  server/src/main/java/moment/comment/domain/Comment.java
  server/src/main/java/moment/comment/dto/response/MomentDetailResponse.java
  server/src/main/java/moment/comment/infrastructure/CommentRepository.java
  server/src/main/java/moment/comment/presentation/CommentController.java
  server/src/test/java/moment/comment/application/CommentServiceTest.java
  server/src/test/java/moment/comment/application/DefaultMomentQueryServiceTest.java
  server/src/test/java/moment/comment/infrastructure/CommentRepositoryTest.java
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
Labels: feat, BE

#461 [FEAT] 기본 모멘트 작성 API 수정
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/comment/presentation/CommentController.java
  server/src/main/java/moment/matching/application/MatchingService.java
  server/src/main/java/moment/matching/application/RandomMatchingService.java
  server/src/main/java/moment/matching/domain/MatchingResult.java
  server/src/main/java/moment/matching/infrastructure/MatchingRepository.java
  server/src/main/java/moment/moment/application/DefaultMomentQueryService.java
  server/src/main/java/moment/moment/application/MomentQueryService.java
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/main/java/moment/moment/domain/Moment.java
  server/src/main/java/moment/moment/domain/OnceADayPolicy.java
  server/src/main/java/moment/moment/domain/WriteType.java
  server/src/main/java/moment/moment/infrastructure/MomentRepository.java
  server/src/main/java/moment/moment/presentation/MomentController.java
  server/src/main/java/moment/reply/application/EmojiService.java
  server/src/main/java/moment/reward/application/PointRewardService.java
  server/src/main/java/moment/reward/application/RewardService.java
  server/src/main/java/moment/reward/domain/Reason.java
  server/src/main/resources/db/migration/mysql/V5__alter_moments__mysql.sql
  server/src/test/java/moment/comment/application/CommentServiceTest.java
  server/src/test/java/moment/comment/application/DefaultMomentQueryServiceTest.java
  server/src/test/java/moment/comment/domain/CommentTest.java
  server/src/test/java/moment/comment/infrastructure/CommentRepositoryTest.java
  server/src/test/java/moment/comment/presentation/CommentControllerTest.java
  server/src/test/java/moment/matching/application/RandomMatchingServiceTest.java
  server/src/test/java/moment/moment/application/DefaultMomentQueryServiceTest.java
  server/src/test/java/moment/moment/application/momentServiceTest.java
  server/src/test/java/moment/moment/domain/MomentTest.java
  server/src/test/java/moment/moment/domain/OnceADayPolicyTest.java
  server/src/test/java/moment/moment/infrastructure/MomentRepositoryTest.java
  server/src/test/java/moment/moment/presentation/MomentControllerTest.java
  server/src/test/java/moment/notification/presentation/NotificationControllerTest.java
  server/src/test/java/moment/reply/application/DefaultEmojiQueryServiceTest.java
  server/src/test/java/moment/reply/application/EmojiServiceTest.java
  server/src/test/java/moment/reply/domain/EmojiTest.java
  server/src/test/java/moment/reply/infrastructure/EmojiRepositoryTest.java
  server/src/test/java/moment/reply/presentation/EmojiControllerTest.java
  server/src/test/java/moment/reward/application/PointRewardServiceTest.java
  server/src/test/java/moment/user/infrastructure/UserRepositoryTest.java
  server/src/test/resources/db/migration/h2/V5__alter_moments_h2.sql
Labels: feat, BE

#465 [FEAT] 코멘트 응답 값 변경 및 불필요한 엔드포인트 제거
  server/src/main/java/moment/comment/application/CommentQueryService.java
  server/src/main/java/moment/comment/application/CommentService.java
  server/src/main/java/moment/comment/application/DefaultCommentQueryService.java
  server/src/main/java/moment/comment/domain/Comment.java
  server/src/main/java/moment/comment/dto/response/MomentDetailResponse.java
  server/src/main/java/moment/comment/infrastructure/CommentRepository.java
  server/src/main/java/moment/comment/presentation/CommentController.java
  server/src/test/java/moment/comment/application/CommentServiceTest.java
  server/src/test/java/moment/comment/application/DefaultMomentQueryServiceTest.java
  server/src/test/java/moment/comment/infrastructure/CommentRepositoryTest.java
Labels: feat, BE

#471 [FEAT] MyPage 프로필 조회 api 기능 구현
  server/src/main/java/moment/user/application/MyPageService.java
  server/src/main/java/moment/user/domain/Level.java
  server/src/main/java/moment/user/dto/response/MyPageProfileResponse.java
  server/src/main/java/moment/user/dto/response/UserProfileResponse.java
  server/src/main/java/moment/user/presentation/MyPageController.java
  server/src/test/java/moment/user/application/MyPageServiceTest.java
  server/src/test/java/moment/user/presentation/MyPageControllerTest.java
  server/src/test/java/moment/user/presentation/UserControllerTest.java
Labels: feat, BE

#441 [REFACTOR] 로깅 전략 수정
  server/src/main/java/moment/global/exception/GlobalExceptionHandler.java
Labels: refactor, BE

#474 [FEAT] 마이페이지 나의 보상 기록 조회 offset 기반 페이징 처리 구현
  server/src/main/java/moment/reward/application/RewardService.java
  server/src/main/java/moment/reward/application/StarRewardService.java
  server/src/main/java/moment/reward/infrastructure/RewardRepository.java
  server/src/main/java/moment/user/application/MyPageService.java
  server/src/main/java/moment/user/dto/response/MyRewardHistoryPageResponse.java
  server/src/main/java/moment/user/dto/response/MyRewardHistoryResponse.java
  server/src/main/java/moment/user/presentation/MyPageController.java
  server/src/test/java/moment/reward/application/StarRewardServiceTest.java
  server/src/test/java/moment/reward/infrastructure/RewardRepositoryTest.java
  server/src/test/java/moment/user/application/MyPageServiceTest.java
  server/src/test/java/moment/user/presentation/MyPageControllerTest.java
Labels: feat, BE

#463 [FEAT] 검증 이메일 발송 및 검증 코드 기능 구현
  server/build.gradle
  server/src/main/java/moment/auth/application/AuthEmailService.java
  server/src/main/java/moment/auth/application/EmailService.java
  server/src/main/java/moment/auth/domain/VerificationInfo.java
  server/src/main/java/moment/auth/dto/request/EmailRequest.java
  server/src/main/java/moment/auth/dto/request/EmailVerifyRequest.java
  server/src/main/java/moment/auth/presentation/AuthController.java
  server/src/main/java/moment/global/config/MailConfig.java
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
  server/src/test/java/moment/auth/application/AuthEmailServiceTest.java
  server/src/test/java/moment/auth/presentation/AuthControllerTest.java
  server/src/test/java/moment/auth/presentation/StubEmailService.java
  server/src/test/resources/application-test.yml
Labels: feat, BE

#477 [FEAT] 추가 모멘트 작성 API 구현 및 테스트 코드 작성
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/main/java/moment/moment/domain/PointDeductionPolicy.java
  server/src/main/java/moment/moment/dto/response/MomentCreateResponse.java
  server/src/main/java/moment/moment/presentation/MomentController.java
  server/src/test/java/moment/moment/application/momentServiceTest.java
  server/src/test/java/moment/moment/domain/PointDeductionPolicyTest.java
  server/src/test/java/moment/moment/presentation/MomentControllerTest.java
Labels: feat, BE

#480 [FEAT] 코멘트를 달 수 있는 모멘트 조회 API 구현 및 테스트 코드 작성
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/main/java/moment/moment/dto/response/CommentableMomentResponse.java
  server/src/main/java/moment/moment/dto/response/MatchedMomentResponse.java
  server/src/main/java/moment/moment/infrastructure/MomentRepository.java
  server/src/main/java/moment/moment/presentation/MomentController.java
  server/src/test/java/moment/moment/application/momentServiceTest.java
  server/src/test/java/moment/moment/infrastructure/MomentRepositoryTest.java
  server/src/test/java/moment/moment/presentation/MomentControllerTest.java
Labels: feat, BE

#481 [FEAT] 내 모멘트 모음 조회 API 수정
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/main/java/moment/moment/dto/response/MyMomentCommentResponse.java
  server/src/main/java/moment/moment/dto/response/MyMomentResponse.java
  server/src/test/java/moment/moment/application/momentServiceTest.java
Labels: feat, BE

#478 [FEAT] 마이페이지 비밀번호 변경 api 추가
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/user/application/UserService.java
  server/src/main/java/moment/user/domain/User.java
  server/src/main/java/moment/user/dto/request/ChangePasswordRequest.java
  server/src/main/java/moment/user/presentation/UserController.java
  server/src/test/java/moment/user/application/UserServiceTest.java
  server/src/test/java/moment/user/presentation/UserControllerTest.java
Labels: feat, BE

#487 [FIX] 추가 코멘트 작성 API 호출 시 작성 타입 수정
  server/src/main/java/moment/moment/application/MomentService.java
  server/src/main/java/moment/moment/presentation/MomentController.java
  server/src/test/java/moment/moment/application/momentServiceTest.java
Labels: fix, BE

#485 [FEAT] 비밀번호 변경 이메일 요청 및 비밀번호 변경 기능 구현
  server/src/main/java/moment/auth/application/AuthEmailService.java
  server/src/main/java/moment/auth/application/AuthService.java
  server/src/main/java/moment/auth/application/EmailService.java
  server/src/main/java/moment/auth/domain/EmailVerification.java
  server/src/main/java/moment/auth/domain/VerificationInfo.java
  server/src/main/java/moment/auth/dto/request/PasswordResetRequest.java
  server/src/main/java/moment/auth/dto/request/PasswordUpdateRequest.java
  server/src/main/java/moment/auth/presentation/AuthController.java
  server/src/main/java/moment/global/exception/ErrorCode.java
  server/src/main/java/moment/user/application/DefaultUserQueryService.java
  server/src/main/java/moment/user/application/UserQueryService.java
  server/src/main/java/moment/user/domain/User.java
  server/src/test/java/moment/auth/application/AuthEmailServiceTest.java
  server/src/test/java/moment/auth/application/AuthServiceTest.java
  server/src/test/java/moment/auth/domain/EmailVerificationTest.java
  server/src/test/java/moment/auth/presentation/AuthControllerTest.java
  server/src/test/java/moment/auth/presentation/StubEmailService.java
Labels: feat, BE

#526 [FEAT] 마이페이지 UI 구조 변경
  client/src/app/routes/index.tsx
  client/src/app/routes/routes.ts
  client/src/features/my/api/changeNickname.ts
  client/src/features/my/api/getProfile.ts
  client/src/features/my/api/getRewardHistory.ts
  client/src/features/my/hooks/useChangeNicknameMutation.ts
  client/src/features/my/hooks/useRewardHistory.ts
  client/src/features/my/types/changeNickname.ts
  client/src/features/my/ui/ChangeNicknameForm.styles.ts
  client/src/features/my/ui/ChangeNicknameForm.tsx
  client/src/features/my/ui/ChangePasswordForm.styles.ts
  client/src/features/my/ui/ChangePasswordForm.tsx
  client/src/features/my/ui/RewardHistoryTable.styles.ts
  client/src/features/my/ui/RewardHistoryTable.tsx
  client/src/pages/my/index.styles.ts
  client/src/pages/my/index.tsx
Labels: feat, FE

#518 [FEAT] heartbeat 메서드 로깅 제외
  server/src/main/java/moment/global/logging/NoLogging.java
  server/src/main/java/moment/global/logging/ServiceLogAspect.java
  server/src/main/java/moment/notification/application/SseNotificationService.java
Labels: feat, BE

#539 [FEAT] 나의 코멘트 모음집 변경사항 적용
  client/src/app/styles/theme.ts
  client/src/features/comment/types/comments.ts
  client/src/features/comment/ui/MyCommentsCard.styles.ts
  client/src/features/comment/ui/MyCommentsCard.tsx
  client/src/features/echo/ui/Echo.tsx
  client/src/features/echo/ui/EchoButton.tsx
  client/src/features/moment/ui/MyMomentsCard.styles.ts
  client/src/features/moment/ui/MyMomentsCard.tsx
  client/src/widgets/writerInfo/index.tsx
Labels: feat, FE

#548 [FIX] 비밀번호 변경 url에 쿼리스트링으로 이메일 추가
  server/src/main/java/moment/auth/application/AuthEmailService.java
Labels: fix, BE

#559 [REFACTOR] 나만의 모음집 탭, 네비게이션 바 UI 개선
  client/src/features/auth/ui/AuthButton.styles.ts
  client/src/pages/collection/index.styles.ts
  client/src/pages/collection/mycomment/index.tsx
  client/src/pages/collection/mymoment/index.tsx
  client/src/widgets/navigatorsBar/index.styles.ts
  client/src/widgets/navigatorsBar/index.tsx
Labels: refactor, FE

#550 [FEAT] 비밀번호 재발급 API 로직 및 UI 컴포넌트 구현
  client/src/app/layout/ui/Navbar.tsx
  client/src/app/routes/ProtectedRoute.tsx
  client/src/app/routes/index.tsx
  client/src/app/routes/routes.ts
  client/src/features/auth/api/changePassword.ts
  client/src/features/auth/api/checkIfLoggedIn.ts
  client/src/features/auth/api/getProfile.ts
  client/src/features/auth/api/getRandomNickname.ts
  client/src/features/auth/api/loginUser.ts
  client/src/features/auth/api/logoutUser.ts
  client/src/features/auth/api/signupUser.ts
  client/src/features/auth/api/useChangePasswordMutation.ts
  client/src/features/auth/api/useCheckIfLoggedInQuery.ts
  client/src/features/auth/api/useFindPasswordMutation.ts
  client/src/features/auth/api/useLoginMutation.ts
  client/src/features/auth/api/useLogoutMutation.ts
  client/src/features/auth/api/useNewPasswordMutation.ts
  client/src/features/auth/api/useProfileQuery.ts
  client/src/features/auth/api/useRandomNicknameQuery.ts
  client/src/features/auth/api/useSignupMutation.ts
  client/src/features/auth/hooks/useChangePassword.ts
  client/src/features/auth/hooks/useCheckIfLoggedInQuery.ts
  client/src/features/auth/hooks/useFindPasswordEmail.ts
  client/src/features/auth/hooks/useLoginForm.ts
  client/src/features/auth/hooks/useNewPassword.ts
  client/src/features/auth/hooks/useRandomNicknameQuery.ts
  client/src/features/auth/hooks/useSignup.ts
  client/src/features/auth/types/newPassword.ts
  client/src/features/auth/ui/AuthButton.tsx
  client/src/features/auth/ui/FindPasswordForm.tsx
  client/src/features/auth/ui/LoginForm.styles.ts
  client/src/features/auth/ui/LoginForm.tsx
  client/src/features/auth/ui/NewPasswordForm.tsx
  client/src/features/comment/ui/TodayCommentForm.tsx
  client/src/features/moment/ui/TodayMomentForm.tsx
  client/src/features/my/ui/ChangeNicknameForm.tsx
  client/src/features/notification/hooks/useSSENotifications.ts
  client/src/pages/findPassword/index.tsx
  client/src/pages/googleCallback/index.tsx
  client/src/pages/newPassword/index.tsx
  client/src/shared/ui/button/Button.styles.ts
  client/src/widgets/signup/SignupStep2.tsx
Labels: feat, FE

#558 [FIX] 여러 이슈 수정
  client/src/app/layout/ui/Navbar.styles.ts
  client/src/features/comment/api/useSendCommentsMutation.ts
  client/src/features/comment/ui/TodayCommentForm.tsx
  client/src/features/moment/hook/useMomentsMutation.ts
  client/src/pages/home/index.tsx
  client/src/shared/ui/toast/Toast.styles.ts
  client/src/widgets/hero/Hero.styles.ts
  client/src/widgets/hero/Hero.tsx
  client/src/widgets/navigatorsBar/index.styles.ts
  client/src/widgets/navigatorsBar/index.tsx
Labels: fix, FE

#566 [FEAT] 이메일 중복 확인 후 인증코드 전송 및 검증 로직 구현
  client/src/app/lib/api.ts
  client/src/features/auth/api/checkEmailExist.ts
  client/src/features/auth/api/useCheckEmailCodeMutation.ts
  client/src/features/auth/api/useCheckEmailMutation.ts
  client/src/features/auth/hooks/useCheckEmail.ts
  client/src/features/auth/hooks/useCheckEmailCode.ts
  client/src/features/auth/hooks/useNewPassword.ts
  client/src/features/auth/ui/CheckButton.tsx
  client/src/features/auth/ui/SignupForm.styles.ts
  client/src/features/auth/ui/SignupForm.tsx
  client/src/widgets/signup/SignupStep.styles.ts
  client/src/widgets/signup/SignupStep1.tsx
Labels: feat, FE

#574 [REFACTOR] 프론트엔드 개발용 사이트 리디렉션 uri 수정
  server/src/main/resources/application-dev.yml
Labels: refactor, BE

#578 [FEAT] spring actuator 설정
  server/build.gradle
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
Labels: build, BE

#579 [FIX] cloudwatch namespace 설정 수정
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
Labels: fix, BE

#581 [FIX] 잘못된 RequestBody.class import 수정
  server/src/main/java/moment/global/logging/ControllerLogAspect.java
Labels: fix, BE

#584 [CHORE] AWS cloudwatch 지표 수집 라이브러리 및 설정 변경
  server/build.gradle
  server/src/main/resources/application-dev.yml
  server/src/main/resources/application-prod.yml
Labels: chore, BE

#585 [FIX] navBar 프로필, ExtraMoment 캐시 무효화안되는 이슈 수정
  client/src/features/comment/api/useSendCommentsMutation.ts
  client/src/features/moment/hook/useMomentsExtraMutation.ts
  client/src/features/moment/hook/useMomentsMutation.ts
Labels: fix, FE

#592 [FEAT] 모바일에서 마이페이지 클릭 시 navbar 모달 꺼지도록 기능 개선
  client/src/features/auth/ui/AuthButton.tsx
Labels: feat, FE

#597 [FIX] 에코 최대 갯수 제한 6개로 수정
  server/src/main/java/moment/reply/dto/request/EchoCreateRequest.java
Labels: fix, BE

#601 [FIX] 비동기 타임아웃 무제한 설정
  server/src/main/java/moment/notification/application/SseNotificationService.java
  server/src/main/resources/application-dev.yml
Labels: fix, BE
